.card {
    color: #333;
    font-weight: 600;
    text-align: center;
    font-size: 1.6rem;
    width: 28rem;
    height: 14rem;
    margin: 0.6rem auto;
    display: grid;
    place-items:  center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */


    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.dir-btn {
    display: flex;
    justify-content: center;
}

.card.easy {
    background: rgba( 147, 196, 125, 0.6 );
}

.card.medium {
    background: rgba( 241, 194, 50, 0.6 );
}

.card.hard {
    background: rgba( 224, 102, 102, 0.6 );
}